.text,
.number,
.field,
.operator {
  border: 2px solid var(--black);
  color: var(--black);
}

.text {
  background-color: var(--text-block-green);
}

.number {
  background-color: var(--number-block-red);
}

.field {
  background-color: var(--field-grey);
}

.operator {
  background-color: #fef8dd;
  text-align: center;
  padding: 8px;
  line-height: normal;
}
