@import './base.css';

:root {
  --border-color: #e5e5e5;
  --border-radius: 8px;
  --green: #007a79;
  --red: #d3273e;
  --black: #000000;
  --circle-size: 100px;
  --square-size: 120px;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  height: 100vh;
}

.padding-m {
  padding: 16px;
}

.small-gap {
  gap: 24px;
}

.large-gap {
  gap: 48px;
}

.dashed-border {
  border: 1px dashed var(--border-color);
}

.square {
  border-radius: var(--border-radius);
  width: var(--square-size);
  height: var(--square-size);
}

.circle {
  border-radius: 50%;
  width: var(--circle-size);
  height: var(--circle-size);
}
